@import "../../styles/abstract/_constants";
@import "../../styles/abstract/_mixins";

.nav {
    //    outline: 1px solid red;
    width: 70%;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;

    &__list {
        width: 450px;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        &:hover {
            text-decoration: underline;
        }
    }

    @include media-tablet-big {
        flex-direction: column;
        visibility: hidden;
        position: absolute;
        left: -100%;
        top: 0px;
        background-color: #fff;
        transition: ease 0.3s;

        &__list {
            max-width: 100%;
            flex-direction: column;
        }
    }
}

.entry {
    display: flex;
    justify-content: space-between;

    @include media-tablet {
        flex-direction: column;

        .btn--entry {
            margin-bottom: 10px;
        }
    }
}

.nav--show {
    visibility: visible;
    left: 0;
}