@import "../../styles/abstract/_constants";
@import "../../styles/abstract/_mixins";

.nav {
    outline: 1px solid red;
    width: 70%;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;

    &__list {
        width: 450px;
        display: flex;
        justify-content: space-between;

    }

    @include media-tablet-big {
        display: none;
    }
}

.entry {
    display: flex;
    justify-content: space-between;

    @include media-mobile {
        flex-direction: column;

        .btn--entry {
            margin-bottom: 15px;
        }
    }
}