@import "../../styles/abstract/_constants";
@import "../../styles/abstract/_mixins";

.feedback {
    margin-top: 30px;

    &__author {
        display: flex;
        justify-content: space-between;
    }

    &__photo {
        border-radius: 50%;
        width: 100px;
        height: 100px;

        @include media-mobile {
            width: 70px;
            height: 70px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
    }

    &__item:nth-of-type(2n) &__author {
        flex-direction: row-reverse;

        .feedback__text {
            margin-right: 30px;
            text-align: right;
        }
    }
}