button {
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    outline: none;
    padding: 10px 25px;
    cursor: pointer;

    @include media-mobile {
        padding: 3px 10px;
        @include font($size: 1.2rem, $height: 2.6rem, $weight: normal);
    }
}

.btn {
    min-width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 40px;
    background-color: $color-primary;
    color: $color-main;

    &:hover {
        background-color: $color-primary-hover;
    }

    &--entry {
        margin-right: 15px;
    }

    @include media-tablet {
        width: 120px;
    }
}